.demo-container {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h1 {
  color: antiquewhite;
}

.demo-item {
  border: solid 1px rgba(255, 255, 255, 0.732);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 40px;
  padding: 30px;
  color: rgba(255, 255, 255, 0.773);
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.865);
}

.demo-subcontainer {
  display: flex;
}
