.footer-container {
  color: rgb(214, 214, 214);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background-color: rgb(35, 55, 79);
  bottom: 0;
  margin: 0 auto;
  width: 80%;
  border-radius: 15px 15px 0 0;
}

.footer-container a {
  color: rgb(198, 198, 198);
  text-decoration: none;
  font-size: 30px;
  transition: 0.4s;
}

.footer-container a:hover {
  color: #e34c26;
}

@media (max-width: 450px) {
  .footer-container {
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 1000px) {
  .footer-container {
    width: 100%;
    border-radius: 0;
  }
}
