.navbar-container {
  background-color: rgb(35, 55, 79);
  height: 0.2rem;
  width: 70%;
  margin: 0 auto;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 2;
  border-radius: 0 0 15px 15px;
}

.language-buttons button {
  margin: 7px;
  padding: 6px;
  color: white;
  background-color: rgb(35, 55, 79);
  border-radius: 8px;
  border: none;
  transition: 0.4s;
  border: solid 1px white;
}

.language-buttons button:hover {
  background-color: #e34c26;
}

.language-buttons button:focus {
  border: solid 1px #e34c26;
}

.language-buttons button:visited {
  color: #f29fcc;
}

.language-buttons butt .navbar-container a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 100%;

  transition: 0.4s;
}

.navbar-container a:hover {
  color: #e34c26;
}

.navbar-container a {
  text-decoration: none;
  color: white;
}

@media (max-width: 450px) {
}

@media (max-width: 1000px) {
  .navbar-container {
    border-radius: 0;
    width: 100%;
    justify-content: space-around;
    padding: 2rem 0 2rem;
  }
}
