.navbar-container {
  background-color: rgb(35, 55, 79);
  height: 0.2rem;
  width: 70%;
  margin: 0 auto;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 2;
  border-radius: 0 0 15px 15px;
}

.navbar-container a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 100%;

  transition: 0.4s;
}

.navbar-container a:hover {
  color: #e34c26;
}
