.profile-container {
  display: flex;
  height: 100vh;
  margin: auto;
}

.profile-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  color: rgb(217, 216, 216);
  margin: 50px auto;
}

.profile-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  color: rgb(217, 216, 216);
  margin: 50px auto;
}

.profile-content p {
  font-size: x-large;
}

.profile-content h2 {
  padding-bottom: 20px;
}

.profile-name h1 {
  padding: 8px;
}

.profile-name h3 {
  padding-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  object-fit: cover;
  max-width: 70%;
  max-height: 70%;
}
